<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> This is your receipt: </h1>
    <table class="table table-bordered">
    <thead>
      <tr>
        <th colspan="2">Product</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% LineItem.where(order_id: @order.id).each do |item| %>
        <% product = Product.find_by(id: item.product_id) %>
        <% quantity = item.quantity %>
        <% price = item.total_price_cents %>
      <%= render './orders/order', product: product, quantity: quantity, price: price %>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="4">
          TOTAL:
        </th>
        <th>
          <%= @order.total %>
        </th>
      </tr>
    </tfoot>
  </table>
    <p>Thanks for the purchase and have a great day!</p>
  </body>
</html>